@import "page";

.com_page{
  .insert_btn {
    background: #EFF2F7;
    color: #C0CCDA;
    border: none;
    padding: 12px;
    cursor: not-allowed;
  }
  .com_head{
    line-height: 40px;
    margin-bottom: 20px;
    .com_title{
      color: #000000;
      font-weight: bold;
      font-size: 16px;
      padding-left: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-left: 4px #0299CC solid;
      span{
        color: #B2B2B2;
        font-size: 12px
      }
    }
    .el-button{
      background: #0299CC;
      color: #fff;
      float: right;
      margin-right: 10px;
      font-size: 14px;
      i{
        margin-right: 10px;
      }
      &:hover{
        background: #00C1DF;
        color: #fff;
      }
    }
    .update {
      color: #0299CC;
      float: right;
      margin-right: 10px;
      font-size: 14px;
      i{
        margin-right: 5px;
      }
      &:hover{
        color: #00C1DF;
      }
    }
  }
  .com_filter{
    line-height: 40px;
    margin-bottom: 30px;
    .el-input{
      width: 250px;
      .el-input__inner{
        border:1px solid #C8C8C8;
        &:hover{
          border:1px solid #00C1DF;
        }
      }
    }
    .el-select{
      float: right;
      margin-right: 10px;
      .el-input{
        width: 190px;
      }
    }
    .el-button{
      margin-left: 20px;
      background: #ffffff;
      border: 1px solid #0299CC;
      color: #0299CC;
      &:hover{
        background: rgba(0,193,223,0.05);
        color: #00C1DF;
        border: 1px solid #00C1DF;
      }
    }
    .el-range-editor{
      width: 250px;
      border:1px solid #C8C8C8;
    }
    .el-range-editor.is-active,.el-range-editor:hover{
      border:1px solid #00C1DF;
    }
  }
  .el-table{
    margin-bottom: 20px;
    th{
      text-align: center;
      background: #F7F8FA;
      font-size: 16px;
      color: #475669;
    }
    td{
      text-align: center;
      font-size: 13px;
      color: #1F2D3D;
    }
    a{
      cursor: pointer;
      color: #0299CC;
      &:hover {
        color: #00C1DF;
      }
    }
  }
  .total{
    float: right;
    line-height: 30px;
    color: #0299CC;
    font-size: 14px
  }
  .el-pagination{
    .el-pager li.active{
      background: #00C1DF!important;
    }
  }
  .el-form{
    margin-bottom: 20px;
    .el-select{
      width: 100%;
    }
    .el-input__inner,.el-textarea__inner{
      border:1px solid #C8C8C8;
      &:hover{
        border:1px solid #00C1DF;
      }
    }
    .el-tag{
      background: rgba(2,153,204,0.10);
      border: 1px solid rgba(2,153,204,0.20);
      border-radius: 4px;
      color: #00C1DF;
    }
  }
  .el-dialog{
    width: 30%;
  }
    /*最多显示2行*/
  .com-two-row {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  /*水平线*/
  .com-line {
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
  }
  .detail-label {
    width: 100px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 40px;
    text-align: right;
    float: left;
    color: #252525;
  }

  .detail-value {
    font-size: 14px;
    line-height: 40px;
    color: #000000;
    float: left;
    width: 60%;
    word-break: break-all;
  }

  .detail-title {
    /*margin-bottom: 20px;*/
    .upd_btn {
      float: right;
      border: none;
      color: #0299CC;
      i {
        margin-right: 2px;
        vertical-align: text-bottom;
      }
      &:hover {
        background: #ffff;
      }
    }
    .switch-btn {
      float: right;
      margin-left: 30px;
      display: inline-block;
      line-height: 40px;
      margin-right: 3px;
    }
  }
}
body {
  margin: 0px;
  padding: 0px;
}
