.menu-expanded>.el-menu {
  width: 180px!important;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 20px;
  border: none;
}
.upload-demo {
  .el-upload__input {
    display: none;
  }
}
.newtask {
  .noml,
  .noml1 {
    .el-input__icon {
      right: -30px!important;
    }
    .el-date-editor.el-input {
      //width: 220px!important;
    }
    .el-input__suffix {
      right: 25px;
    }
  }
  .line {
    margin-left: 15px;
    padding-top: 7px;
  }
  .noml1 {
    //margin-left: 75px;
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }
  .last-item {
    .el-form-item__label {
      display: block;
      float: none;
      padding-right: 0;
    }
  }
  .el-form-item__label {
    font-size: 13px;
  }
  .define-rule-tit {
    margin-left: 4px!important;
  }
  .define-rule-box {
    margin-left: -50px!important;
    .el-form-item__label {
      width: 170px!important;
    }
    .el-form-item__content {
      margin-left: 170px!important;
    }
  }
}
.el-table {
  margin-bottom: 5px;
  margin-top: 10px;
}
// homepage aside
.main {
  .el-submenu__title {
    color: #fff;
  }
  .el-submenu .el-menu-item:hover,
  .el-submenu__title:hover {
    background: $sidebar-active-bg;
  }
  .el-submenu .el-menu-item {
    background: $sidebar-bg;
  }
  .el-submenu__title i {
    color: #fff;
  }
}
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: $sidebar-active-bg;
  color: #fff;
}
.fa-search {
  margin-right: 6px;
}
.fa-sign-out {
  transform: rotate(270deg);
}
// echartpage
.statistic {
  .fa {
    font-size: 50px;
    color: #fff;
  }
  .row {
    margin: 0;
  }
  .panel-heading {
    padding: 35px 0 35px 20px;
  }
  .col-xs-3,
  .col-xs-9 {
    padding: 0;
    vertical-align: middle;
  }
  .col-xs-3 {
    padding: 15px 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .col-xs-8 {
    padding-left: 12px;
    position: relative;
    height: 80px;
  }
  .stat-tit {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #475669;
    letter-spacing: 0;
    line-height: 20px;
  }
}
// login
.login-box {
  input:-webkit-autofill,
  .el-input__inner {
    border: none;
  }
  .el-col-10 {
    height: 48px;
    line-height: 48px;
  }
}
// logout popup
.el-message-box {
  .el-button {
    display: inline-block;
    width: 64px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    padding: 0;
    &:hover {
      background: $hover-color;
      color: #fff;
      border-color: $hover-color;
    }
  }
  .el-button--small {
    border: 1px solid $color-primary;
    color: $color-primary;
    background: #fff
  }
  .el-button--primary {
    color: #fff;
    background: $color-primary;
  }
}
.el-message-box__headerbtn .el-message-box__close {
  position: static;
}
