.menu-expanded>.el-menu {
  width: 230px!important;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 20px;
  border: none;
}
.upload-demo {
  .el-upload__input {
    display: none;
  }
}
.noml {
  .el-input__icon {
    right: -30px!important;
  }
}
.last-item {
  .el-form-item__label {
    display: block;
    float: none;
    padding-right: 0;
  }
}
