@import './vars.scss';
@import './elementUI.scss';

a {
  text-decoration: none;
}
$mainBlue: #0299CC;
$mainGreen: #18c79c;
.app-container {
  padding: 0 20px;
}
.filter-container {
  margin-bottom: 40px;
}
.margin-line {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
// .tit-text::before {
//   content: '';
//   display: inline-block;
//   width: 5px;
//   background-color: $mainBlue;
//   height: 20px;
//   margin: 0 5px;
//   vertical-align: top;
// }
input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  box-shadow: 0 0 0px 1000px #fff  inset !important;
  // background-color:transparent;
  // background-image: none;
  transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}
input {
  background-color:transparent;
}
// 标题样式
.detail-title {
  // margin-top: 30px;
  margin-bottom: 20px;
  // position: relative;
  .upd_btn {
    float: right;
  }
  .el-button {
    // position: absolute;
    // top: -7px;
    // right: 0;
    float: right;
    margin-left: 10px;
  }
}
.list-tit,
.list-table-tit {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  text-align: left;
  height: 20px;
  line-height: 20px;
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  &:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 20px;
    /*background: #0299CC;*/
    background: $mainGreen;
    left: 0;
  }
}