@import './vars.scss';
@import './elementUI.scss';

a,
a:hover {
  text-decoration: none;
}
.container {
  padding: 0;
}
//$mainBlue: #0299CC;
//$mainGreen: #18c79c;
.app-container {
  padding: 0 20px;
}
.filter-container {
  margin-bottom: 40px;
}
.margin-line {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
// .tit-text::before {
//   content: '';
//   display: inline-block;
//   width: 5px;
//   background-color: $mainBlue;
//   height: 20px;
//   margin: 0 5px;
//   vertical-align: top;
// }
input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  box-shadow: 0 0 0px 1000px #fff  inset !important;
  // background-color:transparent;
  // background-image: none;
  transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}
input {
  background-color:transparent;
}
// 标题样式
.detail-title {
  // margin-top: 30px;
  margin-bottom: 20px;
  // position: relative;
  .upd_btn {
    float: right;
  }
  .el-button {
    // position: absolute;
    // top: -7px;
    // right: 0;
    float: right;
    margin-left: 10px;
  }
}
.list-tit,
.list-table-tit {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  text-align: left;
  height: 20px;
  line-height: 20px;
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  &:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 20px;
    /*background: #0299CC;*/
    background: $color-primary;
    left: 0;
  }
}
.container {
  .el-button--primary {
    border: 1px solid $color-primary;
    color: $color-primary;
    background: #ffff;
    margin-left: 17px;
  }
  .el-input__inner {
    border-color: #C8C8C8;
    font-family: PingFangSC-Regular;
    font-size: 14px;
  }
  .el-input__inner:focus,
  .el-input__inner:hover {
    border-color: $color-primary;
  }
  .el-button--primary:focus,
  .el-button--primary:hover {
    background: $hover-color;
    border-color: $hover-color;
    color: #fff;
  }
  .el-pager li.active {
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover {
      color: #fff;
    }
  }
  .el-pager li:hover {
    color: $color-primary;
  }
  .add_btn {
    background: $color-primary;
    color: #fff;
  }
  .add_btn:hover {
    background: $hover-color;
    color: #fff;
  }
  .el-radio__input.is-checked .el-radio__inner,
  .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: $color-primary;
    background: $color-primary;
  }
  .el-loading-spinner .el-loading-text {
    color: $color-primary;
  }
  .el-loading-spinner .path {
    stroke: $color-primary;
  }
}
