.huge {
  font-size: 32px;
  position: absolute;
  bottom: -10px;
}

.content-container .panel {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0 2px 6px 2px rgba(7, 17, 27, 0.05);
  border-radius: 4px;
}

.panel-blue .col-xs-3 {
  background: #4AD2DB;
}

.panel-blue .huge {
  color: #4AD2DB;
}

.panel-green .col-xs-3 {
  background: #FDCE82;
}

.panel-green .huge {
  color: #FDCE82;
}

.panel-red .col-xs-3 {
  background: #30CDAA;
}

.panel-red .huge {
  color: #30CDAA;
}

.panel-yellow .col-xs-3 {
  background: #0299CC;
}

.panel-yellow .huge {
  color: #0299CC;
}

.panel-blue .col-xs-3,
.panel-green .col-xs-3,
.panel-yellow .col-xs-3,
.panel-red .col-xs-3 {
  text-align: center;
  box-shadow: 0 2px 6px 2px rgba(7, 17, 27, 0.05);
  border-radius: 4px;
}
